<nav style="background-color:AntiqueWhite; font-size:20px;padding:10px;">
    <a href="/cities" style="margin: 20px;">City Index</a>
    <a href="/parks" style="margin: 20px;">Park Index</a>
</nav>

<form action="/parks/<%= @park.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />

  <h2>Edit Park Info for <%= @park.name %></h2>

  <p><lable>Park Name:
  <input type='text' name='name' required value="<%= @park.name %>"/></lable></p>

  <p><lable>How many total acres is this Park?
  <input type='number' name='acres' value="<%= @park.acres %>" required></lable></p>

  <p><lable>Does this Park have a Visitor Center?</lable></p>
  <p><lable><input type='radio' name='visitor_center' id='visitor_center_yes' value='true'> Yes </lable>
  <lable><input type='radio' name='visitor_center' id= 'visitor_center_no' value='false' checked> No </lable></p>

  <p><lable>Does this Park have a Playground?</lable></p>
  <p><lable><input type='radio' name='playground' id='playground_yes' value='true' checked> Yes </lable>
  <lable><input type='radio' name='playground' id= 'playground_no' value='false'> No </lable></p>

  <p><lable>What hour does the Park open?
  <input type='number' name='opening_hour' value="<%= @park.opening_hour %>" required></lable></p>

  <p><lable>What hour does the Park close?
  <input type='number' name='closing_hour' value="<%= @park.closing_hour %>" required></lable></p>

  <input type='submit' value='Submit'/>
</form>