<h1>Park Index</h1>

<% @parks.each do |park| %>
  <h3><%= park.name %></h3>
  <p><b>Acres: </b><%= park.acres %></p>
  <p><b>Has Visitor Center? </b>
    <% if park.visitor_center == true %>
      <%= 'Yes' %>
    <% else %>
      <%= 'No' %>
    <% end %>
  </p>
  <p><b>Has Playground? </b>
    <% if park.playground == true %>
      <%= 'Yes' %>
    <% else %>
      <%= 'No' %>
    <% end %>
  </p>
  <p><b>Park Hours: </b><%= park.opening_hour %> AM - <%= park.closing_hour %> PM</p>
  
  <p><%= button_to 'Veiw Park Info', "/parks/#{park.id}", id: "#{park.name}", method: :get%></p>
  <p><%= button_to 'Update Park Info', "/parks/#{park.id}/edit", id: "#{park.name}", method: :get%></p>
  <p><%= button_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete%></p>
<% end %>