<h1>Park Index</h1>

<% @parks.each do |park| %>
<h3><%= park.name %></h3>
<p>Acres: <%= park.acres %></p>
<p>Has Visitor Center? <%= park.visitor_center %></p>
<p>Has Playground? <%= park.playground %></p>
<p>Park Hours: <%= park.opening_hour %> AM - <%= park.closing_hour %> PM</p>
<% end %>