<h1><%= @park.name %></h1>

<p><b>Total Park Acreage: </b><%= @park.acres %></p>

<p><b>Visitor Center: </b>
<% if @park.visitor_center == true %>
  <%= "Yes" %>
<% else %>
  <%= "No" %>
<% end %>
</p>

<p><b>Playground: </b>
<% if @park.playground == true %>
  <%= "Yes" %>
<% else %>
  <%= "No" %>
<% end %>
</p>

<p><b>Park Opens at: </b><%= @park.opening_hour %> AM</p>

<p><b>Park Closes at: </b><%= @park.closing_hour %> PM</p>

<p><%= button_to 'Update Park Info', "/parks/#{@park.id}/edit", id: "#{@park.name}", method: :get %></p>
<p><%= button_to "Delete #{@park.name}", "/parks/#{@park.id}", method: :delete%></p>