<nav style="background-color:AntiqueWhite; font-size:20px;padding:10px;">
    <a href="/cities" style="margin: 20px;">City Index</a>
    <a href="/parks" style="margin: 20px;">Park Index</a>
</nav>

<h1><%= @city.name %> </h1>

<p><a href="/cities/<%= @city.id %>/parks/new">Add New Park</a></p>

<% @alpha_parks.each do |park| %>
  <h3><%= park.name %></h3>
  <p><b>Park Size: </b><%= park.acres %> acres</p>
  <p><b>Visitor Center? </b>
  <% if park.visitor_center == true %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
  </p>
  <p><b>Playground? </b>
  <% if park.playground == true %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
  </p>
  <p><b>Park Hours: </b><%= park.opening_hour %> AM - <%= park.closing_hour %> PM</p>
  <p><a href="/parks/<%= park.id %>/edit">Update Park Info</a></p>
  <%= button_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete%>
<% end %>