<h1>Cities Index</h1>

<a href="/cities/new">Add New City</a>

<% @cities.each do |city| %>
  <p>
    <b><%= city.name %></b>
    <%="(created: #{city.created_at.strftime("%m/%d/%Y")})" %>
    <p><%= button_to "Veiw #{city.name} Info", "/cities/#{city.id}", method: :get%></p>
    <p><%= button_to "Update Info for #{city.name}", "/cities/#{city.id}/edit", method: :get%></p>
    <p><%= button_to "Delete #{city.name}", "/cities/#{city.id}", method: :delete%></p>
  </p>
  <% end %>
