<!DOCTYPE html>
<html>
  <head>
    <title>ParksInCities</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav style="background-color:AntiqueWhite; font-size:15px; padding:10px; text-align:right;">
    <div style='text-align:left; font-size:25px;'><b>Citys and Parks Info</b></div>
    <a href="/cities" style="margin: 20px;">City Index</a>
    <a href="/parks" style="margin: 20px;">Park Index</a>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
